<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id = "MyCoach"
class ="com.groupid13.springdemo.BasBallCoach"
init-method="MyInitializeMethod"
destroy-method="MyDestroyMethod">

</bean>

</beans>
